img{
  height: 200px;
  width: 150px;
}
.panel-body:hover{
  background-color:green;
  border-radius: 6px;
  color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.tableContain{
  margin-left: 20px;
}
.thumbnail:hover {
  border-radius: 2%;
  /*width: 80%;*/
  box-shadow: 0 0 30px black;
}
.seconPart {
  margin-top: -40px;
}
